{% extends "base.html" %}
{% block content %}
<h2>Log In</h2>
<div class="login1">
  <form method="post" class="login">
    {{ form.hidden_tag() }}
    <div class="login form-group">
      {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="login form-group">
      {{ form.password.label }} {{ form.password(class="form-control") }}
    </div>
    <div class="login form-group form-check">
      {{ form.remember_me(class="form-check-input") }}
      {{ form.remember_me.label(class="form-check-label") }}
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>
{% endblock %}